body {
  background-color: burlywood;
}
a {
  text-decoration: none;
  color: #444;
  font-weight: bold;
}

a:hover {
  color: #222;
  text-decoration: underline;
}

.card img {
  width: 200px;
  height: 200;
}
